@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@using LabProject.Models
@model Student

<div>
    <p>
      Name:  @Model.Name

    </p>
    <p>
        Surname:  @Model.Surname

    </p>
    <p>
        Surname:  @Model.Profession
    </p>
</di>